html {
  --theme-prettify-pln: #333333;
  --theme-prettify-str: #dd1144;
  --theme-prettify-kwd: #333333;
  --theme-prettify-com: #999988;
  --theme-prettify-typ: #445588;
  --theme-prettify-lit: #445588;
  --theme-prettify-pun: #333333;
  --theme-prettify-opn: #333333;
  --theme-prettify-clo: #333333;
  --theme-prettify-tag: navy;
  --theme-prettify-atn: teal;
  --theme-prettify-atv: #dd1144;
  --theme-prettify-dec: #333333;
  --theme-prettify-var: teal;
  --theme-prettify-fun: #990000;
}

html.theme-force-dark {
    --theme-prettify-pln: #bbb; /* plaintext - white */
    --theme-prettify-str: #65B042; /* string  - green */
    --theme-prettify-kwd: #E28964; /* keyword - dark pink */
    --theme-prettify-com: #777; /* comment - gray */
    --theme-prettify-typ: #89bdff; /* type - light blue */
    --theme-prettify-lit: #3387CC; /* literal - blue */
    --theme-prettify-pun: #bbb; /* punctuation - white */
    --theme-prettify-opn: #333333;
    --theme-prettify-clo: #333333;
    --theme-prettify-tag: #89bdff; /* html/xml tag    - light blue */
    --theme-prettify-atn: #bdb76b; /* html/xml attribute name  - khaki */
    --theme-prettify-atv: #65B042; /* html/xml attribute value - green */
    --theme-prettify-dec: #3387CC; /* decimal - blue */
    --theme-prettify-var: teal;
    --theme-prettify-fun: #990000;
}

@media screen and (prefers-color-scheme: dark) {
    html:not(.theme-force-light) {
        --theme-prettify-pln: #bbb; /* plaintext - white */
        --theme-prettify-str: #65B042; /* string  - green */
        --theme-prettify-kwd: #E28964; /* keyword - dark pink */
        --theme-prettify-com: #777; /* comment - gray */
        --theme-prettify-typ: #89bdff; /* type - light blue */
        --theme-prettify-lit: #3387CC; /* literal - blue */
        --theme-prettify-pun: #bbb; /* punctuation - white */
        --theme-prettify-opn: #333333;
        --theme-prettify-clo: #333333;
        --theme-prettify-tag: #89bdff; /* html/xml tag    - light blue */
        --theme-prettify-atn: #bdb76b; /* html/xml attribute name  - khaki */
        --theme-prettify-atv: #65B042; /* html/xml attribute value - green */
        --theme-prettify-dec: #3387CC; /* decimal - blue */
        --theme-prettify-var: teal;
        --theme-prettify-fun: #990000;
    }
}

/* GitHub Theme */
.prettyprint {
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  font-size: 1.4rem;
  padding: 2.5rem 3rem;
  -webkit-font-smoothing: antialiased; 
}

pre .pln, code .pln { color: var(--theme-prettify-pln); }
pre .str, code .str { color: var(--theme-prettify-str); }
pre .kwd, code .kwd { color: var(--theme-prettify-kwd); }
pre .com, code .com { color: var(--theme-prettify-com); }
pre .typ, code .typ { color: var(--theme-prettify-typ); }
pre .lit, code .lit { color: var(--theme-prettify-lit); }
pre .pun, code .pun { color: var(--theme-prettify-pun); }
pre .opn, code .opn { color: var(--theme-prettify-opn); }
pre .clo, code .clo { color: var(--theme-prettify-clo); }
pre .tag, code .tag { color: var(--theme-prettify-tag); }
pre .atn, code .atn { color: var(--theme-prettify-atn); }
pre .atv, code .atv { color: var(--theme-prettify-atv); }
pre .dec, code .dec { color: var(--theme-prettify-dec); }
pre .var, code .var { color: var(--theme-prettify-var); }
pre .fun, code .fun { color: var(--theme-prettify-fun); }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}

/* My additional styles */

/*li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }*/

.prettyprint li {
  margin-bottom: .3rem;
}
